

*{ margin:0;
    padding:0;

}

header{ 
    width:90%;
    padding:90px 60px;
    background-image:url("img/fondosintitulo.jpg");
    margin:auto;
    border:4px double darkcyan; 
    position:relative;
    background-repeat: no-repeat;
    background-position:center;
    background-color:lightskyblue;
    background-position:right top;
    background-image:transparent;
    font-family: 'Akaya Telivigala', cursive, bolder;
    color:rgb(0, 0, 0);
    text-align:left;
    font-size:30px;
     
}

body 
{   
    background-color:#fff;
    background-image: url("img/cerebro.jpg");
    position:relative;
    background-repeat:no-repeat;
    background-position: center;  
    background-size: 700px 800px;
    border: 4px solid rgb(202, 180, 243);
    margin:40px 30px;
    }

.topnav{ 

    overflow:hidden;
    font:message-box;
    display:block;
    border:powderblue 2px;
    background-color:#11d5eb;
    overflow:hidden;
    font-size: 25px;
    padding:30px;
    margin:5px;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;

  
    

}
.topnav a:hover{
            background:linen;
            color: #3b39af3;
            text-decoration:none;
}

.topnav a.active{
    color:navy;
}


 
.cita{
    background-color:#3b9af3;
    border: 4px solid #8ae6f0;
    padding:30px;
    font-family:Arial, Helvetica, sans-serif, cursive;
    font-size:8px;
    }
   
#columna{ width: 30%;
    float:right;
    text-decoration:none;
    
}

p{
    font-family: 'Akaya Telivigala', cursive;
    text-align:center;
    font-weight: 50px;
    font-size: 1.3em;
    color:rgb(18, 14, 212);
   
}


h2 {
    font-family: 'Akaya Telivigala', cursive, italic;
    text-align: center;
    font-size:30px;
    padding:8px 4px;
    background-color:#3b9af3;
    height:60px;
    width:800px; 
    color:darkblue;
    font:lighter;

}

h3{
    font-family: Arial, cursive, oblique;
    text-align:justify;
    font-size:25px;
    color:rgb(0, 0, 0);
    display:35%;


}
h4{
    font-style: normal,fantasy,Arial;
    text-align: justify;
    font-size:25px;
    color:rgba(19, 18, 88, 0.87);
}
h5 {
    font-style:' Akaya Telivigala',italic;
    text-align:justify;
    color:rgb(231, 78, 129);
    font-size:20px;
    width:30%;
    margin:auto;
}

.bitacora{ 
    color:rgba(0,0,0);
    font-style: italic;
    background:none;
    padding:auto;
    margin: 25px 30px;
    border:orange double 3px; 
}
.papel{
    padding: auto;
    margin:20px 25px;
    border:lightsalmon dotted 4px;
    list-style:none;
}

.Cienciaencasa{
    padding:140px;
    background-color:#9BCCFD;
    border:#722ea5 solid 4px;
    font-style:oblique;
    font-weight: bold;
    display:inline-block;
    height: 400px;
    width:100px;
    width:70%;
    }
    
    .columna2{
        margin:150px;
        width: 30%;
        padding:20px;
        margin:30px 0px;
        background-color:mintcream;
        float:none;
        border:lavender solid 2px;
    }
    .columna3{ 
        width: 25%;
        background-color:lightblue;
        padding:40px 80px;
        margin:10px;
        border:lavander 2px solid;
        position:relative; 
        float:left;
    }
    
#formulario{
        margin:150px 0px;
        text-align: center;
        background-color:lavenderblush;
        display:inline-block;
        padding: 25px 30px;
    }


footer{
    margin:auto;
    position:relative;
    width:90%;
    padding:30px;
    margin:9px;
    background-color:lightskyblue;
    font-weight: bold;
    clear:both;    
}

