*{  
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.row::after {
    content:"";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
}
  
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
} 
header{ 
    padding:130px 110px;
    margin:auto;
    border:3px double rgb(62, 144, 62); 
    position:relative;
    top:0px;
    background-image:url("img/IMG_20171003_183653812.jpg");
    width:auto;
    background-repeat: no-repeat;
    background-position:center;   
    font-family: 'Akaya Telivigala', cursive, bolder;
    color:rgb(150, 223, 226);
    text-align:center;
    font-size:50px;
    
}
body { 
    margin:0;
    font-size: 15px;
    background-color:rgb(242, 246, 246);
    position:relative;
    top:0;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 500px 500px;
    border: 2px solid rgb(92, 91, 91);
    display:inline-block;
    margin:0px 0px;
}

.topnav{ 
    overflow:hidden;
    background-color:rgb(208, 208, 205);
    margin:5px 15px;
    border:rgb(61, 54, 54) solid 1px;
    border-radius:1px;
    display:block;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    overflow:hidden;

   
}
.topnav a {
    color:black; 
    text-align:center;
    text-decoration:none;
    font-size:25px;
}
.topnav a:hover{
            background:rgb(207, 211, 210);
            color: black;
}
.topnav a.active{
    color:rgb(171, 238, 246);
} 
.cita{
    background-color:#ebe8e8;
    text-align:center;
    border: 3px solid #747171;
    padding:25px;
    font-family:Arial, Helvetica, sans-serif, cursive;
    font-size:8px;
}
p{
    font-family: 'Arial', cursive;
    text-align:justify;
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding:15px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size:50px;
    position:relative;
    color:rgb(0, 0, 0);
}
h2 {
    font-family: 'Akaya Telivigala', cursive, italic;
    text-align: center;
    font-size:25px;
    position:relative;
    left:80%;
    background-color:rgb(209, 183, 144);
    height:40px;
    width:600px; 
    color:rgb(0, 0, 0);
    font:lighter;

}
h3{
    font-family: Arial, cursive;
    text-align:center;
    font-size:30px;
    color:black;
    display:33%;
    padding:10px;
}
h4{
    font-style: normal,fantasy,Arial;
    text-align: justify;
    font-size:25px;
    color:rgba(16, 16, 17, 0.87);
    margin:20px;
    position:relative;
    left:500px;
}
h5 {
    font-style:Arial;
    text-align:center;
    display:inline-block;
    color:rgb(10, 4, 17);
    font-size:25px;
    width:30%;
    margin:auto;
}
#huella{
        position:relative;
        left:180px;
        text-align: justify; 
        color:rgb(31, 31, 32); 
        padding:20px 30px;  
}
.calcu{
    width:350px;
    height:auto;
    padding:10px;
    position:relative;
    left:300px;

}
ol,ul{ 
    padding:20px;
    font-style:Arial; 
    text-align:justify;
    font-size:22px;
    
}
.terra{
    position:relative;
    left:100px;
    width:50%;
    transition: transform .3s;
    margin:30px;
   
}
.terra:hover{
    transform:scale(1.5);
}
.imagen{
    display:none;
}
img{
    vertical-align: middle;
}
.contenedor{
    max-width: 1000px;
    position:relative;
    margin:auto;
    text-align: center;
    background-color: rgb(114, 204, 123);
}
.sig, .ant{
    cursor:pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.sig{
    right: 0;
}
.ant{
    left:0;
}
.sig:hover, .ant:hover{
    background-color: rgba(231, 237, 238, 0.8);
}
.punto{
    height: 15px;
    width:15px;
    background-color:#bbb;
    margin:0 2px;
    display:inline-block;
    border-radius:50%;
    transition:background-color 1s ease;
    cursor:pointer;
}
.punto:hover, .activo{
    background-color: #717171;
}
.numero{
    padding: 8px 12px;
    position:absolute;
    top:0;
    text-align:center;
    font-size:15px;
    color:#fff;
}
.titulo{
    text-align: center;
    color:#fff;
    font-family: Impact,'Arial Narrow Bold', sans-serif, cursive;
    font-size: 25px;
    position:absolute;
    bottom:0;
    width:100%;
}

.divul{
    vertical-align:center;
    width:350px;
    height:auto;
}
.bitacora{ 
    color:rgba(0,0,0);
    font-style: italic;
    background:none;
    padding:auto;
    margin: 25px 30px;
    border:rgb(45, 130, 241) double 3px; 
}
#papel{
    padding:30px 30px;
    margin:25px 25px;
    border:rgb(175, 237, 241) solid 2px;
    float:right;
}

.impap { 
        position:relative;
        vertical-align: center;
        width: 80%;
        height: auto;
        padding: 15px 20px;
    }
.columna2{
        margin:150px;
        width: 30%;
        padding:20px;
        margin:20px 0px;
        float:none;
        border:green double 8px;
    
}
.columna3{ 
        width: 25%;
        background-color:lightblue;
        padding:40px 80px;
        margin:10px;
        border:#fff 2px solid;
        position:relative; 
        float:left;
}

.contenedor1 {
            position: relative;
            left:600px;
            width: 70%;
            max-width: 500px;
        }
.image {
            display: block;
            width: 90%;
            height: auto;
        } 
.overlay {
            position: absolute;
            bottom: 0;
            left:50px;
            background: rgb(0, 0, 0);
            background: rgba(144, 216, 238, 0.5); 
            color: #161616;
            width: 70%;
            transition: .5s ease;
            opacity:0;
            color: rgb(73, 71, 71);
            font-size: 20px;
            padding: 20px;
            text-align: justify;
        }
.contenedor1:hover .overlay {
            opacity: 1;
            text-align:justify;
}
footer{
    margin:auto;
    position:relative;
    width:auto;
    padding:30px;
    margin:9px;
    background-color:#d4d4d4;
    font-weight: bold;
    font-size:35px;
    text-align:center;
    clear:both;  
}