
body 
{   
    background-image:url("img/fondobeige.png");
    background-image:transparent;
    background-position: right;
    background-repeat: no-repeat;
    background-color:rgb(203, 240, 182);
    background-size: 800px 800px;
    font-size:100%;
    
}


article{
    font-style: arial, Helvetica, sans-serif, bolder;
    color:rgba(0,0, 0);
    text-align:justify;
    margin:5px;
    font-size:24px;
}
 

 img{
      float:left;
      height:200px;
      width:auto;  
      border-radius:50px;
      
 }

svg{ 
    color:rgb(131, 5, 131);
    image-size:1000px;
}



h1 {
    font-style: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    text-align:center;
    background-color:rgb(247, 237, 235);
    margin-left: 5px;
    font-size:55px;
}


p{
    font-style: Arial, Helvetica, oblique;
    text-align:center;
    font-style: oblique;
    font-size: 1.3em;
    color:rgb(0,0,0);
   
}


h2 {
    font-style:italic;
    font-weight: bolder;
    text-align:right;
    font-size:40px;
}

h3{
    font-style:oblique, Arial,Helvetica;
    text-align:justify;
    font-size:40px;
    color:rgb(0, 0, 0)
}
h4{
    font-style: normal,fantasy,Arial;
    text-align: justify;
    text-overflow: ellipsis;
    font-size:45px;
    color:rgba(153, 35, 84, 0.87);
}

menu{ 
    font-size: initial;
    text-align: right;
    color:rgb(86, 52, 155);
    font-size:25px;
}
