
body 
{   background-image:url("img/fondobeige.png");
    background-position:center;
    background-image:transparent;
    background-repeat:no-repeat;
    background-color:#88a550;
    background-size: 1000px 1200px;
    font-size:100%;
    
}

.topnav{ 
    font: message-box;
    background-color:rgb(170, 204, 21);
    overflow:hidden;
    font-size: 50px;
    padding:25px 20px;
    text-align: center;
    color:rgb(231, 33, 33);
    font-size:25px;
}
.topnav a:hover{
            background-color:rgb(83, 128, 0);
            color:white;
}
.topnav a.active{
    color: black;
}



}
 
div{
    background-color:;
}
 img{
      float:botton;
      height: 100px;
      width:auto;  
      border-radius:30px;
      
 }
.logo{
    border-image: 5px;
    border:dimgrey;
    padding: 3px;
    float:right top;
}



h1 {
    font-family: 'Akaya Telivigala', cursive;
    color:rgb(0, 0, 0);
    text-align:center;
    padding:20px 12px;
    height: 150px;
    width: 800px ;
    background-color:#fbcd4b;
    border-radius: 30px;
    font-size:40px;

}


p{
    font-family: 'Akaya Telivigala', cursive;
    text-align:center;
    font-style: oblique;
    font-size: 1.3em;
    color:rgb(10, 9, 9);
   
}


h2 {
    font-family: 'Akaya Telivigala', cursive, italic;
    font-weight: bolder;
    text-align:right;
    font-size:25px;
    padding:10px 5px;
    background-color:rgb(235, 172, 78); 
}

h3{
    font-family: 'Akaya Telivigala', cursive, oblique;
    text-align:justify;
    font-size:25px;
    color:rgb(0, 0, 0);
    padding:10px 30px;


}
h4{
    font-style: normal,fantasy,Arial;
    text-align: justify;
    text-overflow: ellipsis;
    font-size:40px;
    color:rgba(27, 27, 27, 0.87);
}


.columna{
    font-style: arial, Helvetica, sans-serif, bolder;
    color:chartreuse;
    text-align:justify;
    margin:5px;
    font-size:24px;
    background-color: darkgray;
}
.fila{ background-color: dimgrey;

}
