header{
    font-family: 'Cardo', serif;
    font-size:100px;
    text-align: center;
    color:rgb(142, 52, 226);
    padding:20px;
    background-color: linen;
    background-image:url("img/hoja.jpg")
    padding:30px;
    padding:fixed;
   
}
