
header{ 
    padding:40px;
    background-image:url("img/fondosintitulo.jpg");
    margin:5px 10px;
    border:4px double darkcyan; 
    float:none;
    background-repeat: no-repeat;
    background-position:center;
    background-color:lightskyblue;
    background-position:right top;
    background-image:transparent;
    font-family: 'Akaya Telivigala', cursive, bolder;
    color:rgb(0, 0, 0);
    text-align:left;
    font-size:30px;
     
}

body 
{   
    background-image: url("img/cerebro.jpg");
    background-repeat:no-repeat;
    background-position: center;   
    background-size: 900px 1000px;
    border: 4px solid rgb(117, 117, 167);
    margin:40px 30px;
    
}

.topnav{ 
    font: message-box;
    background-color:#36D6E7;
    overflow:hidden;
    text-transform: uppercase;
    font-size: 50px;
    padding:20px 30px;
    margin:8px;
    text-align: center;
    color:rgb(139, 236, 74);
    font-size:20px;

}
.topnav a:hover{
            background-color:#36D6E7;
            color:white;
}
.topnav a.active{
    color: black;
}


 
.cita{
    background-color:#3b9af3;
    border: 4px solid #8ae6f0;
    padding:auto;
    font-family:Arial, Helvetica, sans-serif, cursive;
    font-size:8px;
}
   
 

p{
    font-family: 'Akaya Telivigala', cursive;
    text-align:center;
    font-weight: 50px;
    font-size: 1.3em;
    color:rgb(18, 14, 212);
   
}


h2 {
    font-family: 'Akaya Telivigala', cursive, italic;
    text-align: center;
    font-size:30px;
    padding:8px 4px;
    background-color:#3b9af3;
    height:60px;
    width:800px; 
    color:darkblue;
    font:lighter;

}

h3{
    font-family: 'Akaya Telivigala', cursive, oblique;
    text-align:justify;
    font-size:25px;
    color:rgb(0, 0, 0);
    padding:10px 30px;


}
h4{
    font-style: normal,fantasy,Arial;
    text-align: justify;
    font-size:25px;
    color:rgba(19, 18, 88, 0.87);
}




.Cienciaencasa{
    padding:140px;
    background-color:#9BCCFD;
    border:#722ea5 solid 4px;
    font-style:oblique;
    font-weight: bold;
    display:inline-block;
    height: 400px;
    width:100px;
    }

footer{
    padding:fixed;
    background-color:lightskyblue;
    font-weight: bold;
}
.galeria{
    background-image:url("img/logoverde.png");
    padding:40px 30px;
    margin:50 px   
    
}