*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
   
}
.imagen{
    display:none;
}
img{
    vertical-align: middle;
}
.contenedor{
    max-width: 1000px;
    position:relative;
    margin:auto;
    text-align: center;
    background-color: lavender;
}
.sig, .ant{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: orange;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.sig{
    right: 0;
}
.ant{
    left:0;
}
.sig:hover, .ant:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.punto{
    height: 15px;
    width:15px;
    background-color:#bbb;
    margin:0 2px;
    display:inline-block;
    border-radius:50%;
    transition:background-color 1s ease;
    cursor:pointer;
}
.punto:hover, .activo{
    background-color: #717171;
}
.numero{
    padding: 8px 12px;
    position:absolute;
    top:0;
}
.titulo{
    text-align: center;
    font-size: 10px;
    position:absolute;
    bottom:0;
    width:100%;
}